<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="https://unpkg.com/umd-react@19.2.1/dist/react.production.min.js"></script>
    <script src="https://unpkg.com/umd-react@19.2.1/dist/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@remix-run/router@1.21.0/dist/router.umd.min.js"></script>
    <script src="https://unpkg.com/react-router@6.28.0/dist/umd/react-router.production.min.js"></script>
    <script src="https://unpkg.com/react-router-dom@6.28.0/dist/umd/react-router-dom.production.min.js"></script>
    <title>Document</title>
    <link rel="icon" href="/favicon.ico" />
    <script defer="defer" src="/scripts/main.f1275.bundle.js"></script>
    <link href="/styles/main.52893.css" rel="stylesheet" />
  </head>
  <body>
    <h2 style="color: red; margin-bottom: 10px">
      [后端MPA] 服务端模版输出： HI <span><%= data %></span>
    </h2>

    <hr />
    <h2 style="color: blue">[前端SPA] 下面是 React 模版输出</h2>

    <div id="app"></div>
  </body>
</html>
